
@media (min-width: 460px) and (max-width: 575px) {
  .cardWidth{
      min-width: 452px;
  }
}

@media  (min-width: 576px) and (max-width: 767px){
    .cardWidth {
        min-width: 492px;
    }
}

@media  (min-width: 768px) and (max-width: 991px){
    .cardWidth {
        min-width: 672px
    }
}

@media  (min-width: 992px) and (max-width: 1199px){
    .cardWidth {
        min-width: 288px
    }
}

@media  (min-width: 1200px) {
    .cardWidth {
        min-width: 348px
    }
}